<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubu.aspirin.mapper.CourseDetailMapper">
    <sql id="getCourseDetailDTO">
        select course_detail.id,
               course_detail.semester,
               teacher_number,
               teacher.real_name  as teacherName,
               course_number,
               course.name        as courseName,
               course.type,
               course.icon_url,
               course.description,
               course.period,
               course.credit,
               classroom_number,
               classroom.location as classroomName,
               day_of_the_week,
               scheduling_time

        from course_detail
                     left join teacher on course_detail.teacher_number = teacher.number
                     left join classroom on course_detail.classroom_number = classroom.number
                     left join course on course_detail.course_number = course.number
    </sql>

    <select id="listByClassroomNumber" resultType="com.hubu.aspirin.model.dto.CourseDetailDTO">
        <include refid="getCourseDetailDTO">
        </include>
        where classroom_number = #{classroomNumber};
    </select>

    <select id="listByTeacherNumber" resultType="com.hubu.aspirin.model.dto.CourseDetailDTO">
        <include refid="getCourseDetailDTO">
        </include>
        where teacher_number = #{teacherNumber};
    </select>


    <select id="listBySpecialtyNumberAndSemesterAndCourseType" resultType="com.hubu.aspirin.model.dto.CourseDetailDTO">
        select course_detail.id,
               course_detail.semester,
               teacher_number,
               teacher.real_name  as teacherName,
               course_detail.course_number,
               course.name        as courseName,
               course.type,
               course.icon_url,
               course.description,
               course.period,
               course.credit,
               classroom_number,
               classroom.location as classroomName,
               day_of_the_week,
               scheduling_time

        from specialty
                     left join specialty_course on specialty.number = specialty_course.specialty_number
                     left join course on specialty_course.course_number = course.number
                     left join course_detail on course.number = course_detail.course_number
                     left join teacher on course_detail.teacher_number = teacher.number
                     left join classroom on course_detail.classroom_number = classroom.number
        where specialty.number = #{specialtyNumber}
          and course_detail.semester = #{semseter}
          and course.type = #{courseType}
    </select>
</mapper>
