<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubu.aspirin.mapper.CourseMapper">
    <sql id="getBySpecialtyNumber">
        select course.*
        from course
                     left join specialty_course on course.number = specialty_course.course_number
                     left join specialty on specialty_course.specialty_number = specialty.number
    </sql>
    <select id="queryPage" resultType="com.hubu.aspirin.model.entity.Course">
        <include refid="getBySpecialtyNumber">
        </include>
        <where>
            <if test="specialtyNumber != null and specialtyNumber != ''">
                specialty.number = #{specialtyNumber}
            </if>
<!--            mybatis会把传入的0当做空串，所以不必判断空串-->
<!--            mybatis不能比较枚举类型，所以在Mapper接口的参数需要写Integer之类的而不是枚举类型-->
            <if test="courseType != null">
                and course.type = #{courseType}
            </if>
            <if test="courseNameOrNumber != null and courseNameOrNumber != ''">
                and (course.name like concat('%', #{courseNameOrNumber}, '%')
                or course.number like concat('%', #{courseNameOrNumber}, '%'))
            </if>
        </where>
    </select>
</mapper>
